// Angular Material theme reset should be imported before root level CSS variables
// Currently commented out since Angular Material isn't used. When including separate theme stylesheets theme reset should be either included in all of them or as an independent stylesheet linked before theme stylesheets.
// @import "design-system/angular-material-theme-reset";
@import "design-system/shape/shape";
@import "design-system/typography/typography";
@import "design-system/typography/typography_mixins";
@import "design-system/scrollbars";
// AG Grid theme imports
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
// Prime Ng imports
@import "primeng/resources/primeng.css";

html,
body {
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--sys-surface);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
  display: block;
  color: var(--sys-on-surface);
}

p {
  color: var(--sys-on-surface);
  @include m3-body-large;
}

code {
  color: var(--sys-on-surface);
  @include m3-body-large;
  font-family: "Consolas";
  line-height: 1.3;
  letter-spacing: unset;
}

a {
  color: var(--sys-tertiary);
  text-decoration-style: dotted;

  &:hover {
    text-decoration-style: solid;
    text-decoration-thickness: 0.125rem;
  }
}

input,
textarea,
.card-content {
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow: auto;
  resize: none;
  padding: 0.5rem 0.625rem;
  @include m3-body-large;
  color: var(--sys-on-surface);
  border: none;
  outline: none;
  border-radius: inherit;
  background-color: var(--sys-surface-container-high);
}

.card-content-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--m3-corner-small);

  &:focus-within {
    outline: 0.125rem solid var(--sys-on-surface);
  }

  &:not(:focus-within).error {
    outline: 0.125rem solid var(--sys-error);
  }
}

// Strings being the part of the response have crucial information wrapped in <span class="bold"></span>
.bold {
  @include m3-title-medium;
  color: var(--sys-on-surface);
}
